.home {
    .tabBar {
        position: fixed;
        height: 100%;
        width: 100%;
        bottom: 0;
        z-index: 999;
        height: 50px;
        border-top: solid 1px #ccc;
    }

    .iconfont {
        font-size: 20px;
    }
}